*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #6671e2;
  color:aliceblue;
}

img {
  border-radius: 50%;
  padding: 10px;
  width: 250px;
  height: 250px;
}

p {
  font-family: 'Italics', Helvetica, sans-serif;
  padding: 10px;
}

h1 {
  padding: 10px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigation {
  display: flex;
  justify-content: right;
  text-align: right;
  margin-bottom: 30px;
  padding: 15px;
  gap: 20px;
  margin-right: 50px ; 
  text-decoration: none;
}
